extends ../layouts/common

block content
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
        .container
            a.navbar-brand(href='/')
                img(src=user ? '/' + user.avatar : '/images/logo.jpg', class="avatar")
                if user
                    span= ' ' + user.name

            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon

            #navbarSupportedContent.collapse.navbar-collapse
                ul.navbar-nav.mr-auto
                    li.nav-item.active
                        a.nav-link(href='/users') Users
                        span.sr-only (current)
                    li.nav-item
                        a.nav-link(href='/users/create') Create user
                    li.nav-item
                        a.nav-link(href='/products') Productions
                    li.nav-item
                        a.nav-link(href='/products/create') Create Product
                    li.nav-item
                        a.nav-link(href='/auth/login') Login
                    li.nav-item
                        a.nav-link(href='/auth/log-out') Log out

    block header
